/* Estilos generales */
:host {
  --ion-background-color: #f4f4f4; /* Fondo gris claro */
  --ion-text-color: #333; /* Color de texto principal */
  font-family: 'Arial', sans-serif;
}

/* Encabezado */
ion-toolbar {
  --background: #009987; /* Azul oscuro */
  --color: #ffffff;
  text-align: center;
  font-family: Georgia, 'Times New Roman', serif; /* Fuente clásica */
  letter-spacing: 2px; /* Espaciado entre letras */
  font-size: 1 rem;
  text-transform: uppercase; /* Mayúsculas */
}

/* Contenido principal */
ion-content {
  --ion-background-color: #f4f4f4;
}

/* Tarjetas (Cards) */
ion-card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out;
}

ion-card:hover {
  transform: scale(1.02);
}

/* Cabecera de las tarjetas */
ion-card-header {
  background-color: #004d99;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

/* Títulos */
ion-card-title {
  font-size: 1.4rem; /* Tamaño más grande */
  font-weight: bold; /* Negrita */
  font-family: Georgia, 'Times New Roman', serif; /* Fuente clásica */
  letter-spacing: 1px; /* Espaciado entre letras */
}

/* Contenido de las tarjetas */
ion-card-content {
  font-size: 1rem;
  color: #444;
}

/* Inputs */
ion-item {
  --background: #ffffff;
  --border-radius: 5px;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-label {
  font-size: 1rem;
  font-weight: bold;
  color: #004d99;
}

ion-input,
ion-select {
  --color: #333;
  --placeholder-color: #666;
  --background: #ffffff;
}

/* Botones */
ion-button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  --border-radius: 8px;
  margin-top: 10px;
  
}

ion-button[color="primary"] {
  --background: #007acc;
  --background-hover: #005fa3;
  --color: white;
}

ion-button[color="secondary"] {
  --background: #ff9800;
  --background-hover: #e68900;
  --color: white;
}

ion-button[color="danger"] {
  --background: #cc0000;
  --background-hover: #990000;
  --color: white;
}

/* Mejoras de visibilidad */
ion-card p {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

/* Espaciado entre elementos */
ion-item,
ion-button {
  margin-bottom: 10px;
}
ion-icon {
  color: #004d99 !important; /* Azul oscuro */
  font-size: 22px !important; /* Tamaño más grande */
  margin-left: 10px;
}
